{
	"presets": ["@babel/env", "@babel/react"],
	"plugins": [
		"@babel/proposal-class-properties",
		"@babel/plugin-transform-react-jsx-source",
		"babel-plugin-styled-components",
		[
			"babel-plugin-root-import",
			{
				"paths": [
					{
						"rootPathPrefix": "&",
						"rootPathSuffix": "./src"
					}
				]
			}
		]
	],
	"env": {
		"production": {
			"presets": ["react-optimize"],
			"plugins": [
				[
					"transform-react-remove-prop-types",
					{
						"mode": "wrap",
						"ignoreFilenames": ["node_modules"]
					}
				]
			]
		}
	}
}
