{
	"presets": ["@babel/env", "@babel/react"],
	"plugins": ["@babel/proposal-class-properties", "@babel/plugin-transform-react-jsx-source"],
	"env": {
		"production": {
			"presets": ["react-optimize"],
			"plugins": [
				[
					"transform-react-remove-prop-types",
					{
						"mode": "wrap",
						"ignoreFilenames": ["node_modules"]
					}
				]
			]
		}
	}
}
